.userList {
  flex: 4;
}

.tableUserList {
  display: flex;
  align-items: center;
}

.tableUserListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListBtnEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  margin-right: 20px;
  cursor: pointer;
}

.userListBtnDeleteIcon{
    color: #d95087;
    cursor: pointer;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus, .MuiDataGrid-root .MuiDataGrid-cell:focus {
  /* outline: solid #3f51b5 1px; */
  outline: none !important;
} 

